/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
	--theme-primary		: #272728;
	--theme-secondary	: #DDDDDD;

	--text-primary		: #3D3D3D;
	--text-secondary	: #646464;
	--text-tertiary		: #FFFFFF;

	--background-primary	: #FFFFFF;

	--border-primary	: #DDDDDD;

	--underline-primary	: #EFEFEF;
}

/* Container */
.container {
	min-height		: 100vh;

	margin			: 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;

	font-family		: Spartan;
}

/* Header */
.header {
	color			: var(--text-secondary);

	font-size		: 24px;
	font-weight		: normal;
}

/* Header Bold */
.header .bold {
	margin			: 0;

	display			: inline-block;

	color			: var(--text-primary);

	font-size		: 24px;
	font-weight		: bold;
}

/* Description */
.description {
	margin			: 15px 0;

	color			: var(--text-secondary);

	font-size		: 14px;
	text-align		: center;
}

/* Button */
.button {
	cursor			: pointer;

	height			: 40px;

	padding			: 0 50px;

	display			: flex;
	justify-content		: center;
	align-items		: center;

	color			: var(--text-tertiary);
	background-color	: var(--theme-primary);
	border			: none;
	border-radius		: 20px;

	font-size		: 12px;
	font-weight		: 400;
	text-decoration		: none;
}

/* Table Background */
.background {
	min-height		: 450px;

	margin			: 25px 0;
	padding			: 25px;
	padding-top		: 10px;

	display			: flex;
	flex-direction		: column;
	justify-content		: space-between;
	align-items		: center;

	background-color	: var(--background-primary);
	border-radius		: 10px;

	box-shadow		: 0 4px 25px rgba(0, 0, 0, 0.15);
}

/* Table */
.table {

	border-collapse		: collapse;
}

/* Head */
.table .head {
	height			: 50px;

	color			: var(--text-primary);
	border-bottom		: 1px solid var(--underline-primary);

	font-size		: 14px;
	text-align		: left;
}

/* Big Column */
.table .big {
	width			: 500px;
}

/* Small Column */
.table .small {
	width			: 125px;
}

/* Tasks */
.table .body .row {
	height			: 50px;

	color			: var(--text-secondary);

	font-size		: 12px;
}

/* Table Primary Button */
.table .body .row button.primary {
	width			: 100px;
	height			: 30px;

	margin-right		: 5px;
	padding			: 0;

	display			: inline-block;

	font-family		: Spartan;
	font-size		: 10px;
}

/* Table Secondary Button */
.table .body .row button.secondary {
	width			: 30px;
	height			: 30px;

	padding			: 0;

	display			: inline-block;

	color			: var(--text-secondary);
	background-color	: var(--theme-secondary);

	padding			: 0;
	font-size		: 10px;
}

/* Form Container */
.form {
	width			: 275px;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: flex-start;
}

/* Form Row */
.form .row {
	width			: 100%;

	margin			: 10px 0;

	display			: flex;
	flex-direction		: column;
	justify-content		: flex-start;
	align-items		: flex-start;

	color			: var(--text-primary);

	font-family		: Spartan;
	font-size		: 12px;
	font-weight		: normal;
}

/* Form Input */
.form input {
	width			: calc(100% - 5px - 2em);
	height			: 36px;

	padding			: 0 1em;

	color			: var(--text-primary);
	outline			: none;
	border			: 1px solid var(--border-primary);
	border-radius		: 5px;

	font-family		: Spartan;
	font-size		: 12px;
	font-weight		: normal;
	text-align		: left;
}

/* Form Input Placeholder */
.form input::placeholder {
	color			: var(--text-secondary);

	font-family		: Spartan;
	font-size		: 12px;
	font-weight		: normal;
	text-align		: left;
}

/* Form Dropdown */
.form select {
	width			: calc(100% - 5px);
	height			: 36px;

	padding			: 0 1em;

	color			: var(--text-primary);
	border			: 1px solid var(--border-primary);
	border-radius		: 5px;

	font-family		: Spartan;
	font-size		: 12px;
	font-weight		: normal;
	text-align		: left;
}

/* Form Button */
.form button {
	width			: 200px;

	margin-top		: 25px;

	align-self		: center;

	font-family		: Spartan;
	font-size		: 12px;
}