/* Declare Variables */
:root {
	--theme-primary		: #272728;
	--theme-positive	: #08C108;
	--theme-negative	: #DF0000;

	--background-primary	: #FFFFFF;
	--background-secondary	: #F9F9F9;
	--background-tertiary	: #EFEFEF;
	--background-quaternary	: #FCFCFC;

	--border-primary	: #DDDDDD;

	--text-primary		: #3D3D3D;
	--text-secondary	: #646464;
	--text-tertiary		: #AAAAAA;
	--text-quaternary	: #FFFFFF;
}