/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

/* Body */
body {
	margin			: 0;

	overflow-x		: hidden;
	overflow-y		: hidden;

	display			: flex;
	flex-direction		: column;
	align-items		: center;
}

/* Unlocked Scroll */
body.unlocked {
	overflow-y		: visible;
}

/* Remove Form Outline */
input:focus, select:focus, button:focus {
	outline			: none;
}

/* Inactive Fade */
.fade {
	opacity			: 0;
}

/* Active Fade */
.active:not(.preloaded) .fade, .active:not(.preloaded).fade {
	animation		: fade_in 1s ease-in-out 0s 1 forwards;
}

/* Preloaded Fade */
.preloaded .fade, .preloaded.fade {
	opacity			: 1;
}

/* Section Title */
section:not(.landing) .title {
	margin-bottom		: 50px;

	display			: flex;
	flex-direction		: column;
	justify-content		: center;
	align-items		: center;
}

/* Section Header */
section:not(.landing) .title .header {
	color			: var(--text-tertiary);

	font-family		: Spartan;
	font-size		: 24px;

	display			: flex;
	flex-direction		: row;
	justify-content		: center;
	align-items		: center;
}

/* Section Header Bold */
section:not(.landing) .title .header .bold {
	margin			: 0;
	margin-left		: 8px;

	color			: var(--theme-primary);

	font-family		: Spartan;
	font-size		: 24px;
	font-weight		: bold;
}

/* Section Meta */
section:not(.landing) .title .meta {
	margin-top		: 20px;

	color			: var(--theme-secondary);

	font-family		: Spartan;
	font-size		: 14px;
	text-align		: center;

	animation-delay		: 1.5s !important;
}