body
		{
		font-family: helvetica, verdana, sans-serif;
		min-width: 100%;
		max-width: 100%;
		background-color: white;
		}
		header
		{
			margin-left: 5%;
		}
		#header
		{
			margin-top: 5%;
			margin-left: 3%;
			float: left;
			color: black;
		}
		#logo{
			float: left;
			padding-right: 0px;
			width: 20%;
			height: 20%;
		}
		nav
		{
			/*clear:left;*/
			padding: 1%;
			margin-bottom: 1%;


		}
		ul
		{
			/*margin: 0%;*/
			padding: 0%;
		}
		li
		{
			list-style-type: none;
			float: left;
			margin-top: 3%;
			margin-left: 2%;
			text-align: center;
			/*padding:2%;
			padding-right:2%; 
			padding-left: 2%;*/
			width: 10%;
		}
		.list{
			color: black;
			border: none;
			text-decoration: none;
			font-weight: bold;

		}
		#li{
			margin-left: 10%;
		}
		li:hover
		{
			background-color:#f2f2f2 ;
			border-bottom: solid;
			border-color: black;
		}
		li:active
		{
			border-bottom: solid;
			border-color: black;
		}
		/*a
		{
			text-decoration: none;
			color: black;
			font-weight: bold;
		}*/
		/*aside
		{
			float: right;
			width: 30%;
			margin:2%; 
		}*/
		/*.homeimg
		{
			width: 100%;
			margin-bottom: 2%;
		}*/
		#landinghr{
			width: 20%;
			text-align: center;
			height: 1px;
			border-width: solid;
			background-color: #eaece5;
			border-width:0;
			color:blue;
		}
		#landingButton{
		  	color: white;
		  	padding: 1% 5%;
		  	text-align: center;
		  	text-decoration: none;
		  	display: inline-block;
		  	font-size: 16px;
		 	margin: 4px 2px;
		  	transition-duration: 0.4s;
		  	cursor: pointer;
		  	background-color: black;  
  			border: 2px solid black;
  			border-radius: 25px;
  			margin-top: 10%;
		}
		section
		{
			color: black;
			margin-top: 10%;
			text-align: center;
		}
		footer
		{
			clear: right;
			background-color: white;
			color: black;
			padding: 2%;
			margin-top: 20%;
			/*border:0%;
			border: solid;
			border-color: black;
			border-width: 1px;*/
		}
		#first
		{
			text-align: left;
			margin: 0%;
			padding: 0%;
			padding-top: 1%;
			float:left;
		}
		#second
		{
			text-align: right;
			margin: 0%;
			padding: 0%;
		}
		.th_img
		{
			width: 50px;
			margin: 0%;
		}
		#TableSection{
			text-align: center;
		}
		th,td, table{
			margin-left: auto;
  			margin-right: auto;
			text-align: center;
			/*border: solid;
			border-color: black;
			border-width: 1px;
			border-collapse: collapse;*/
			padding: 25px;
			border-radius: 15px;
		}
		tr:nth-child(odd){
			background-color: #f2f2f2
		}
		.first{
			color: white;
			background-color:#847F7F;
		}
		#ci{
			color: white;
			background-color:black;
		}
		#Tableh1{
			text-align: center;
			color: #FACC2E;
		}