<!DOCTYPE html>
<html lang='en'>

	<!-- Head -->
	<head>

		<!-- Tags -->
		<title>Add Task</title>

	</head>

	<!-- Body -->
	<body>

		<!-- Page header, usually big and bold -->
		<h1>Add A New Task</h1>

		<!-- HTML Form that will create a new task when submitted -->
		<form action='./index.html'>

			<!-- Task Name Input -->
			<label for='task_name'>Task Name</label><br/>
			<input type='text' id='task_name' name='task_name' placeholder='Enter task name...' required/><br/>

			<!-- Task Deadline Input -->
			<label for='task_deadline'>Task Deadline</label><br/>
			<input type='date' id='task_deadline' name='task_deadline' placeholder='Enter task deadline...' required/><br/>

			<!-- Task Priority Input -->
			<label for='task_priority'>Task Priority</label><br/>
			<select id='task_priority' name='task_priority'>
				<option value='Low'>Low</option>
				<option value='Medium'>Medium</option>
				<option value='High'>High</option>
			</select><br/>

			<!-- Submit Button -->
			<button>Add Task</button>

		</form>

	</body>

</html>