<!DOCTYPE html>
<html lang="en">

	<!-- Head -->
	<head>

		<!-- Tags -->
		<meta charset="UTF-8"/>
		<title>To-Do List</title>

	</head>

	<!-- Body -->
	<body>

		<!-- Page header, usually big and bold -->
		<h1>My To Do List</h1>

		<!-- Describes what this page is about -->
		<p>Find all your to-do points here!</p>

		<!-- Hyperlink pointing to form page -->
		<a href='./form.html'>or click here to add a new task</a>

		<!-- Table containing all the to-do points -->
		<table>

			<!-- Table header -->
			<thead>

				<!-- Task name column -->
				<th>Task Name</th>

				<!-- Task deadline column -->
				<th>Deadline</th>

				<!-- Task priority column -->
				<th>Priority</th>

				<!-- Task actions column (empty column for buttons) -->
				<th></th>

			</thead>

			<!-- Table body -->
			<tbody>

				<!-- SAMPLE DATA -->
				<td>Attend session two</td>
				<td>19/01/22</td>
				<td>High</td>
				<td><button>Complete</button><button>X</button></td>

			</tbody>

		</table>

	</body>

</html>